@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

/* Universal */
html {
    scroll-behavior: smooth;
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--primary-color);
}
/* Universal end */
  
/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}
/* CSS Resets end */

/* Navigation Bar */
nav {
    position: static;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
    text-align: left;
}
  
nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

/* Navigation Bar end */

/* Banner */
.banner {
    display: block;
    position: relative;
    height: 43.75rem;
    background: url("Images/Banner.jpg") center center no-repeat;
    background-size: cover;
    text-align: center;
  }

.banner h1 {
    padding-top: 9rem;
    font-size: 6rem;
}

.banner h2 {
    font-size: 4rem;
}
/* Banner end */

/* About */
.about {
    display: grid;
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    gap: 0em;
    align-items: center;
    max-width: 1000px;
    min-width: 200;
    margin: 0 auto;
}

.about img {
    width: 23em; 
    float: right; 
    padding: 1em 0em;
}

.about p {
    position: relative;
    line-height: 1.5em;
}
/* About end */

/* Navigation Buttons */
.button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1em auto;
    height: 45px;
    width: 330px;
    opacity: 1;
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 1.5em;
}
  
.button .student {
    font-family: var(--font-family);
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.button .photographer {
    font-family: var(--font-family);
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
  
.button:hover {
    animation: buttonrotate 0.7s ease-in-out both;
}
  
.button:hover span {
    animation: buttonstorm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}
  
@keyframes buttonrotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
  
@keyframes buttonstorm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
}
/* Navigation Buttons end */

/* Contact */

.contact {
    padding: 1em;
    gap: 0em;
    align-items: center;
    max-width: 1000px;
    min-width: 200;
    margin: 0 auto;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    display: inline-block;
}

.fa:hover {
    opacity: 0.5;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
/* Contact end */